<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
       <!-- jedis pool配置-->
       <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
              <property name="MaxTotal" value="${redis.maxTotal}" />
              <property name="maxIdle" value="${redis.maxIdle}" />
              <property name="MaxWaitMillis" value="${redis.maxWaitMillis}" />
              <property name="testOnBorrow" value="${redis.testOnBorrow}" />
       </bean>

       <!-- Jedis ConnectionFactory -->
       <bean id="jedisConnectionFactory"
               class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
              <property name="usePool" value="true"/>
              <property name="poolConfig" ref="jedisPoolConfig" />

              <property name="hostName" value="${redis.host}" />
              <!-- property name="password" value="${redis.pass}" / -->
              <property name="port" value="${redis.port}" />
              <property name="timeout" value="${redis.timeout}" />
              <property name="database" value="${redis.db}" />

       </bean>

       <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
              <property name="connectionFactory" ref="jedisConnectionFactory" />

               <property name="valueSerializer">
                       <bean class="org.springframework.data.redis.serializer.StringRedisSerializer" />
               </property>

                <property name="keySerializer">
                       <bean class="org.springframework.data.redis.serializer.StringRedisSerializer" />
                </property>
       </bean>
</beans>